html, body {
  margin: 0;
  height:100%;
  padding: 0;
  width: 100%;
}
.container {
  width: 100%;
  height: 100%;
}
.home {
  height: 93%;
  text-align: center;
}
.banner {
    position: relative;
    padding-top: 15em;
    padding-bottom: 20%;
}
.section {
  height: 100%;
}
.navbar {
}
.places {
  display: inline;
}
.about-heading {
  text-align: center;
}
.aboutme {
  padding: 10%;
}
.face img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.skills-heading {
  text-align: center;
}
.websites {
  list-style-type: none;
}
.websites li {
  display: inline;
}
.website li a{
}
